<div class="modal-content">
  <h4><%= @title %><br><%= @singer %></h4>
  <p><%= nokogiri %></p>
  <p><image src="<%= thumnail %>"></p>
  <%= lylic %>

</div>
<div class="modal-footer">
  <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">close</a>
</div>
