<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <% @show.each do |s| %>
      <div class="card">
        <div class="card-image">
          <img src=<%= asset_path("#{s.genre}.png") %>>
          <span class="card-title"><%= s.genre %></span>
          <span class="card-date"><%= s.created_at.in_time_zone("Asia/Seoul").strftime("%Y년%m월%d일 %H시%M분") %></span>
        </div>
        <div class="card-content">
          <audio controls source src="<%= s.file_name %>" type="audio/wav"></audio>
        </div>
        <div class="card-content">
          <%= simple_format(s.content) %>
        </div>
        <div class="card-action">
          <p class="card-difficulty"><span id="score">난이도는?</span><%= render partial: 'star/rating', locals: { s: s}  %><span</p>
          <!-- "home_like_path() : route.rb에 먼저 경로가 지정되어 있어야 한다. -->
          <!-- 좋아요를 이미 눌렀다면 "좋아요 취소 n명"으로 나타난다. -->
          <% if Like.where(user_id: current_user.id, post_id: s.id).empty? %>
            <%= link_to "좋아요 #{@count}명", home_like_path(post_id: s.id), id: "like_#{s.id}", remote: true %>
          <% else %>
            <%= link_to "좋아요 취소 #{@count}명", home_like_path(post_id: s.id), id: "like_#{s.id}", remote: true %>
          <% end %>
        </div>
        <div class="card-content">
          <%= form_tag("/home/comment", method: "POST", remote: true) do %>
            <%= hidden_field_tag 'postid', s.id %>
            <%= text_field_tag 'title', nil, class: 'materialize-text', placeholder: '곡 제목' %>
            <%= text_field_tag 'singer', nil, class: 'materialize-text', placeholder: '가수명' %>
            <%= text_area_tag 'content', nil,  class: 'materialize-textarea', placeholder: '자세한 설명을 적어주세요.' %>
            <%= button_tag 'Submit', class: 'btn waves-effect waves-light' %>
            <% if current_user.id == s.user.id %>
              <%= button_tag 'Correct', type: 'button', class:'btn waves-effect waves-light amber accent-4', onclick: "location.href = '/home/correct/#{s.id}'" %>
              <%= button_tag 'Delete', type: 'button', class:'btn waves-effect waves-light red', onclick: "location.href = '/home/delete/#{s.id}'" %>
            <% else %>
              <%= button_tag 'Correct', type: 'button', class:'btn waves-effect waves-light amber accent-4', onclick: "location.href = '/home/correct/#{s.id}'", disabled: true %>
              <%= button_tag 'Delete', type: 'button', class:'btn waves-effect waves-light red', onclick: "location.href = '/home/delete/#{s.id}'", disabled: true %>
            <% end %>
          <% end %>
        </div>
        <div id="comment" class="card-content">
          <% s.comments.reverse.each do |c| %>
            <div id="comment_<%= c.id %>">
              <%= link_to "#{c.title}", home_nokogiri_path(song_id: c.id), id: "nokogiri_#{c.id}", remote: true %><br>
              <%= c.content %><br>
              <%= c.writer %><br>
              <%= c.created_at.in_time_zone("Asia/Seoul").strftime("%Y년%m월%d일 %H시%M분") %>
              <% if current_user.email == c.writer %>
                <%= link_to "수정", home_correct_comment_path(c.id), class: "green-text text-accent-3", remote: true %>
                <%= link_to "삭제", home_delete_comment_path(c.id), class: "green-text text-accent-3", remote: true %><hr>
              <% else %>
                
              <% end %>
            </div>
          <% end %>
        </div>
        <div id="modal" class="modal"></div>
      </div>
      <% end %>
    </div>
  </div>
</div>
